*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  display: flex;
  /* align items vertically */
  align-items: center;
  /* justify items horizontally  */
  justify-content: center;
  height: 100vh;
  /* min-width: 1440px; */
}

.attribution {
  font-size: 11px; text-align: center;
  color: white;
}

.attribution a {
   color: hsl(228, 45%, 44%);
 }

.accent {
  color: hsl(277, 64%, 61%);
}

.coly{
  /* background-color: green; */
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 0;
}

.mini{
  width: 15vw;
}

.boxy {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: hsl(244, 38%, 16%);
  overflow: hidden;
  border-radius: 15px;
  width: 60vw;
  height: 50vh;
  padding-left: 5vw;
}

.imgy{
  width: 30vw;
  height: 50vh;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  object-fit: cover;
  /* overflow: hidden; */
  /* height: 100%; */
  /* z-index: 2; */
}

.tint {
  position: relative;
  cursor: pointer;
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsl(277, 64%, 61%, 0.6);
  transition: all 0.3s linear;
}

.tint:hover:before {
  background: none;
}

.imgy2{
  background: url('images/image-header-desktop.jpg');
  width: 30vw;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* object-fit: cover; */
  position: relative;
  /* overflow: hidden; */
  /* height: 100%; */
  z-index: 1;
}

.overlay{
  background-color: blue;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}


.cardy {
  /* background-color: hsl(244, 38%, 16%); */
  color: hsl(0, 0%, 100%);
  display: flex;
  /* align-items: center;
  justify-content: center; */
  width: 20vw;
  /* padding: 10px; */
  /* width: 50vw; */
  /* height: 50vh; */
  /* border-radius: 15px; */
}

.flexy{
  font-family: 'Lexend Deca', sans-serif;
  /* background-color: purple; */
  /* must have display flex to use space-evenly */
  display: flex;
  justify-content: space-between;
  /* width: 40vw; */
  /* margin: auto; */
  /* text-align: center; */
}

.vertically {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 48vh;
  width: 20vw;
}

.arcy{
  border-radius: 15px;
  width: 30vw;
  /* height: 48vh; */
  /* border-right: 30px; */
}

.smaller{
  width: 17vw;
  /* width: 50px; */
}

.smaller2{
  width: 15vw;
  /* width: 50px; */
}

.main-paragraph{
  color: hsla(0, 0%, 100%, 0.75);
}

.boldy{
  font-weight: 400;
  /* line-height: 4;  */
}

.upper{
  text-transform: uppercase;
}

.coly p{
  line-height: 1.5;
}

@media screen and (max-width: 1440px) {
  body{
    /* background: blue; */
  }

  .imgy{
    border-bottom-right-radius: 0px;
  }

  .boxy{
    width: 90vw;
    height: 80vh;
    flex-direction: column-reverse;
    padding: 0px;
  }
  .imgy{
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 0px 0px;
    /* position: relative; */
  }

  .flexy{
    display: block;
  }

  .coly{
    padding: 0px;
  }

  .cardy{
    padding: 0px 0px;
    width: 90vw;
    text-align: center;
  }
  .mini{
    width: 90vw;
  }
}

@media screen and (max-width: 720px) {
  .boxy{
    /* padding: 20px; */
  }
  .cardy{
    /* padding: 20px;
    width: auto; */
  }
  .coly{
    /* width: */
  }
  .inside-padding{
    margin-top: 5vh;
    padding: 0 10vw;
  }
  .up-down{
    margin: 30px 0;
  }

  .imgy{
    /* width: 100%; */
    /* height: 100%; */
    object-fit: fill;
    padding: 0px 0px;
    /* position: relative; */
  }

  .mini{
    /* width: 50vw; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  .combo{
    /* width: 50vw; */
    padding: 0 15vw;
  }
}
